﻿@model RangerTrainingAuth.Entities.KalenderEintrag
@{
    ViewData["Title"] = "Kalendereintrag löschen";
}

<h1>Kalendereintrag löschen</h1>



@if (Model.SerienTermin == false)
{

    <p>
        Möchten Sie den Kalendereintrag "@Model.Bezeichnung" wirklich löschen?
    </p>



    <form method="post" asp-controller="KalenderEintrag" asp-action="DeleteEintrag">
        <button type="submit" class="btn btn-success">Ja</button>
        <input type="hidden" asp-for="@Model.ID" />
        <!-- Nein-->
        <a asp-action="Index" asp-controller="Kalender" class="btn btn-danger">Nein</a>
    </form>

}
else
{

    <p>
        Möchten Sie den Serieneintrag "@Model.Bezeichnung" wirklich löschen?
    </p>



    <form method="post" asp-controller="KalenderEintrag" asp-action="DeleteSerienEintrag">
        <button type="submit" class="btn btn-success">Serie löschen</button>
        <input type="hidden" asp-for="@Model.ID"  />
        <input type="hidden" name="ClearType" value="1"/>
 
    </form>
    <form method="post" asp-controller="KalenderEintrag" asp-action="DeleteEintrag">
        <button type="submit" class="btn btn-success">Nur diesen Eintrag löschen</button>

        <input type="hidden" asp-for="@Model.ID" />
        <a asp-action="Index" asp-controller="Kalender" class="btn btn-danger">Abbruch</a>
    </form>


}

