﻿@model RangerTrainingAuth.Models.KalenderEintrag.KalenderEintragModel
@using RangerTrainingAuth.Models.KalenderEintrag
@using RangerTrainingAuth.Data



    <form asp-controller="KalenderEintrag" asp-action="KalendereintragUebernahme" method="post">

        <div asp-validation-summary="All" class="text-danger"></div>

        <h1>Kalender Eintrag</h1>

        <h1> </h1>



        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Bezeichnung</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="@Model.Bezeichnung" asp-for="@Model.Bezeichnung" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Ereignistype</label>
            <div class="col-sm-6">
                <input type="search" list="eventtype" class="form-control" id="Anlass" asp-for="@Model.Anlass" required>
            </div>
        </div>
        <datalist id="eventtype">
            <option value=@KalenderEventNamen.Training style="background-color: aqua" />
            <option value=@KalenderEventNamen.FlexTraining style="background-color: aqua" />
            <option value=@KalenderEventNamen.Heimspiel />
            <option value=@KalenderEventNamen.Auswertsspiel />
            <option value=@KalenderEventNamen.Teamsitzung />
            <option value=@KalenderEventNamen.Geburtstag />
            <option value=@KalenderEventNamen.Sonstiges />
            <option value=@KalenderEventNamen.SaisonStart />
            <option value=@KalenderEventNamen.SaisonEnde />
        </datalist>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Datum</label>
            <div class="col-sm-3">
                <input type="date" class="form-control" id="StartDatum" asp-for="@Model.Date ">
            </div>

            <label class="col-sm-1 col-form-label">von </label>
            <div class="col-sm-2">
                <input type="time" class="form-control" td id=" @Model.Startzeit    " asp-for="@Model.Startzeit ">
            </div>

        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Enddatum</label>
            <div class="col-sm-3">
                <input type="date" class="form-control" id="EndDatum" asp-for="@Model.EndDate ">
            </div>
            <label class="col-sm-1 col-form-label">bis </label>
            <div class="col-sm-2">
                <input type="time" class="form-control" asp-for="@Model.EndZeit ">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2">Gruppen</div>
            <div class="col-sm-1">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="alleGruppenCheckbox" asp-for="@Model.AlleGruppen ">alle

                </div>
            </div>

            <div class="col-sm-1">
                <div class="form-check">
                    <input class="form-check-input gruppen-checkbox" type="checkbox" asp-for="@Model.Gruppe1" />1

                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-check">
                    <input class="form-check-input gruppen-checkbox" type="checkbox" asp-for="@Model.Gruppe2" />2

                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-check">
                    <input class="form-check-input gruppen-checkbox" type="checkbox" asp-for="@Model.Gruppe3" />3

                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-check">
                    <input class="form-check-input gruppen-checkbox" type="checkbox" asp-for="@Model.Gruppe4" />4

                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-check">
                    <input class="form-check-input gruppen-checkbox" type="checkbox" asp-for="@Model.Gruppe5" />5

                </div>
            </div>

        </div>

        <div class="form-group row">
            <div class="col-sm-2">Serientermin</div>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id=" @Model.SerienTermin" asp-for="@Model.SerienTermin ">

                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2">Periode</div>
            <div class="col-sm-10">
                <fieldset class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="SerienTerminType" id="gridRadios1" value="1" checked>
                                <label class="form-check-label" for="gridRadios1">
                                    wöchentlich
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="SerienTerminType" id="gridRadios2" value="2">
                                <label class="form-check-label" for="gridRadios2">
                                    alle 4 Wochen
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="SerienTerminType" id="gridRadios3" value="3">
                                <label class="form-check-label" for="gridRadios3">
                                    alle <input type="number" id="@Model.SerienTerminTagesAbstand" asp-for="@Model.SerienTerminTagesAbstand" maxlength="4" min="0" max="30" Tage />
                                    Tage
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Eintragen</button>
            </div>
        </div>

 
    </form>

@section Scripts {
   
         @* src=" ~ == wwwroot*@
    <script src="~/js/kalender-eintrag.js"></script>
}

