﻿@model RangerTrainingAuth.Models.ClearUser.ClearUserViewModel
@using RangerTrainingAuth.Models.ClearUser
@{
    ViewData["Title"] = "User Löschen";
}

<h1>User Löschen</h1>
<form asp-controller="ClearUser" asp-action="Delete" method="post">
    <table>
        @for (int i = 0; i < Model.UserToClearListe.Count(); i++)
        {
            <tr>

                <td>
                    <input type="checkbox" id="@Model.UserToClearListe[i].Name" asp-for="@Model.UserToClearListe[i].Selected" />
                    <input type="hidden" asp-for="@Model.UserToClearListe[i].Selected" />
                    <input type="hidden" asp-for="@Model.UserToClearListe[i].Name" />
                    <input type="hidden" asp-for="@Model.UserToClearListe[i].Spieler.Vorname" />

                </td>
                <td> @Model.UserToClearListe[i].Name</td>

                @if(Model.UserToClearListe[i].Spieler?.UserId != null)
                {

                 <td> @Model.UserToClearListe[i].Spieler.UserId </td>
                }
            </tr>
        }




    </table>

    <button type="submit">User löschen</button>
    
</form>

