﻿@model RangerTrainingAuth.Models.Steuerung.SteuerungModel
@using RangerTrainingAuth.Models.Steuerung
@{
    ViewData["Title"] = "index";
}


<h1>Steuerung</h1>
<div>
    <form asp-controller="Steuerung" asp-action="SpielerinWocheAsync" method="post">
        <button type="submit">Spieler in die Woche übernehmen </button>
        <input type="text"  asp-for="@Model.Kalenderwoche" />
    </form>
    <form asp-controller="Steuerung" asp-action="Trading" method="post">
        
        
            
        <button type="submit">@Model.Gruppentext  </button>
    </form>
    Aktuelles Datum @Model.AktuellesDatum.ToString("dd.MM.yyyy")
    Kalenderwoche @Model.Kalenderwoche

</div>

