﻿
@{
    ViewData["Title"] = "Kalender";
}

<h1>Kalender</h1>

<!--Kalender platzhalter-->
<div id='calendar'></div>
 
<div id="detail-popover-content" class="hidden">

    <form id="popover-delete-form" asp-controller="KalenderEintrag" asp-action="Delete" method="get">
        <div id="popover-title"></div>
        <div>
            <input type="hidden" id="event-id" name="id" />
            <button type="submit" class="btn btn-danger">Löschen</button>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/kalender.js"></script>
}

