﻿@model RangerTrainingAuth.Models.GruppenUebersicht.GruppenuebersichtModel
@using RangerTrainingAuth.Models.GruppenUebersicht
<h1> Gruppenübersicht</h1>



    <div asp-validation-summary="All" class="text-danger"></div>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Gruppe</th>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
            </tr>
        </thead>

        <tbody>
            @for (int i = 0; i < Model.Trainingsgruppen.Count(); i++)
            {
            <tr class="accordion">

                <td>@Model.Trainingsgruppen[i].Gruppe</td>

                <td>@Model.Trainingsgruppen[i].Name</td>
                <td>@Model.Trainingsgruppen[i].Gruppenleiter</td>
                @*<td>@string.Join(", ", Model.Spieler[i].Positionen)</td>*@

            </tr>
                }
        </tbody>
    </table>
 
