﻿
@model RangerTrainingAuth.Models.Ergebnis.IndexErgebnisViewModel
@using RangerTrainingAuth.Models.Ergebnis

@{
    ViewData["Title"] = "index";
}

<h1>Gesamtergebnis</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Gruppe</th>
            <th scope="col">Anwesend</th>
            <th scope="col">Punkte</th>
            <th scope="col">Bonus</th>
            <th scope="col">Bonus2</th>
            <th scope="col">Gesamt</th>
        </tr>

     </thead>
    <tbody>

        @for (int i = 0; i < @Model.GesamtErgebnise.gge.Count(); i++)
        {

        <tr>
            <td>@Model.GesamtErgebnise.gge[i].Gruppe</td>
            <td>@Model.GesamtErgebnise.gge[i].Trainingsteilnahme</td>
            <td>@Model.GesamtErgebnise.gge[i].Punkte</td>
            <td>@Model.GesamtErgebnise.gge[i].Bonus</td>
            <td>@Model.GesamtErgebnise.gge[i].Bonus2</td>
            <td>@Model.GesamtErgebnise.gge[i].Gesamt</td>


        </tr>
        }
        </tbody>
    </table>

@for (int i = 0; i < @Model.Ergebnise.Count(); i++)
{
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <td colspan="5">  @Model.Ergebnise[i].DatumZeile</td>
            </tr>
            <tr>
                <th scope="col">Gruppe</th>
                <th scope="col">Anwesend</th>
                <th scope="col">Punkte</th>
                <th scope="col">Bonus</th>
                <th scope="col">Bonus2</th>
            </tr>
        </thead>

        <tbody>
            @for (int g = 0; g <= EntityKonstanten.MaximaleGruppennummer - 1; g++)
            {
            <tr>
                <td>@Model.Ergebnise[i].Gruppenergebnise[g]?.Gruppe</td>
                <td>@Model.Ergebnise[i].Gruppenergebnise[g]?.Anwesende</td>
                <td>@Model.Ergebnise[i].Gruppenergebnise[g]?.Punkte</td>
                <td>@Model.Ergebnise[i].Gruppenergebnise[g]?.ZusatzPunkte</td>
                <td>@Model.Ergebnise[i].Gruppenergebnise[g]?.ZusatzPunkte2</td>
            </tr>
            }
        </tbody>
    </table>
}
