﻿th.rotate {
    height: 200px;
    white-space: nowrap;
    max-width:30px;
}

th.rotate > div {
    transform: translate(50%, 20px)
               rotate(270deg);
    transform-origin: left;
    /*text-align: left;
    vertical-align: top;*/
}

th.rotate > div > span {
    padding: 5px 10px;
}
