﻿
@model RangerTrainingAuth.Models.Übersicht.ÜbersichtViewModel
@using RangerTrainingAuth.Models.Übersicht
@{
    ViewData["Title"] = "Anwesenheit Übersicht";
}

@section Styles {
    <link href="~/css/rotated-table-header.css" rel="stylesheet" />
}

<h1>Anwesenheitsübersicht</h1>



<table class="table table-hover">
    <thead>
        <th></th>

        @for (int i = 0; i < Model.Spieler.Count(); i++)
        {
            <th class="rotate">
                <div>
                    <span>@Model.Spieler[i].Name</span>
                </div>
            </th>
        }
    </thead>



    <tbody>
        @*@for (int j = 0; j < Model.Trainingstage.Count(); j++)
        {

            <tr>
                <td>@Model.Trainingstage[j].Datum.ToString("dd/MM/yyyy")</td>

                @for (int i = 0; i < Model.Spieler.Count(); i++)
                {
                    <td style="border: 1px solid;   text-align:center; padding: 10px">

                        @i.ToString()
                    </td>
                }
            </tr>
        }*@

        @foreach(var row in Model.TableRows)
        {
            <tr>
                <td>@row.Date.ToString("dd.MM.yyyy")</td>

                @foreach (var spielerName in Model.Spieler.Select(s => s.Name))
                {
                    <td style="border: 1px solid;   text-align:center; padding: 10px">
                        @if (row[spielerName].Gruppe == 0)
                        {
                            <span>-</span>
                        } else
                        {
                            @row[spielerName].Gruppe
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>


