﻿@model RangerTrainingAuth.Models.GruppenLeiterAuswahl.IndexViewModel
@using RangerTrainingAuth.Models.GruppenLeiterAuswahl
<h1> Gruppenleiterauswahl</h1>

@if (Model.UebernahmeErfolgreich)
{
<div class="alert-success">
    <strong>Erfolg!</strong>

    <p>Die Auswahl wurde übernommen.</p>
</div>
}


<form asp-controller="GruppenLeiterAuswahl" asp-action="UebernahmeGruppenleiter" method="post">

    <button type="submit">Übernehmen</button>
    <h3> </h3>
    <div asp-validation-summary="All" class="text-danger"></div>
    <style>

        table {
            width: 100%;
        }

        td {
            border: 1px solid;
            overflow: hidden;
            text-align: center;
        }
    </style>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>

                <th scope="col">Name</th>
                <th scope="col">Gruppenleitung</th>
                <th scope="col">Admin</th>
            </tr>
        </thead>

        <tbody>
            @for (int i = 0; i < Model.User.Count(); i++)
            {
                <tr>
                    <td>@Model.User[i].Name</td>
                    <td>
                        <input type="number" id=" @Model.User[i].Gruppe" asp-for="@Model.User[i].Gruppe" />
                    </td>
                    <td>
                        <input type="checkbox" id="@Model.User[i].Name" asp-for="@Model.User[i].Admin" />
                        <input type="hidden" asp-for="@Model.User[i].Name" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>