﻿@using RangerTrainingAuth.Models.SpielerAuswahl
@model IndexViewModel
<h1> Spielerauswahl für Gruppe @Model.Gruppe @((Model.AuswahlNichtMöglich)?"nicht möglich":"")</h1>


<form asp-controller="SpielerAuswahl" asp-action="UebernahmeSpieler" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <button type="submit">Übernehmen</button>
    <h3> </h3>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="text-center">Auswahl</th>
                <th scope="col">Name</th>
                <th scope="col" class="text-center">Nummer</th>
                <th scope="col">Position</th>
            </tr>
        </thead>

        <tbody>
            @for (int i = 0; i < Model.Spieler.Count(); i++)
            {
                <tr>
                    <td style="text-align:center; vertical-align: middle;">
                        <input type="checkbox" disabled="@Model.AuswahlNichtMöglich" id="@Model.Spieler[i].Name" asp-for="@Model.Spieler[i].IstGruppenMitglied" />
                        <input type="hidden" asp-for="@Model.Spieler[i].Name" />
                        <input type="hidden" asp-for="@Model.Spieler[i].ID" />
                        <input type="hidden" asp-for="@Model.Spieler[i].Positionen" />

                    </td>
                    <td>@Model.Spieler[i].Name</td>
                    <td class="text-center">@Model.Spieler[i].Nummer</td>
                    <td>@string.Join(", ",Model.Spieler[i].Positionen)</td>
                </tr>
            }
        </tbody>
    </table>
</form>