﻿@model RangerTrainingAuth.Models.User.EditUserViewModel
@using RangerTrainingAuth.Models.User
@{
    ViewData["Title"] = "User Bearbeiten";
}

<h1>User Bearbeiten</h1>

<form asp-controller="User" asp-action="UebernahmeUser" method="post">

    <button type="submit">Übernehmen</button>
    <h3> </h3>
    <div asp-validation-summary="All" class="text-danger"></div>

    <style>

        table {
            width: 100%;
        }

        td {
            border: 1px solid;
            overflow: hidden;
            text-align: center;
        }
    </style>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
 
            </tr>
        </thead>

        <tbody>

            <tr>  <td><input type="hidden"  asp-for="@Model.ID" value="@Model.ID" /> </td> </tr>
            <tr> <td>User Name</td> <td> @Model.Name  </td> </tr>
            <tr> <td>Vorname</td> <td><input type="text" id=@Model.Vorname asp-for="@Model.Vorname" /> </td> </tr>
            <tr> <td>Nachname</td> <td><input type="text" id=@Model.Nachname asp-for="@Model.Nachname" /> </td> </tr>
            <tr> <td>Geburtstag</td> <td><input type="date" id=@Model.Geburtstag asp-for="@Model.Geburtstag" /> </td> </tr>
            <tr> <td>Spieler</td> <td><input type="checkbox" id=@Model.Spieler asp-for="@Model.Spieler" /> </td> </tr>
            <tr> <td>Spieler Nummer</td> <td><input type="number" id=@Model.SpielerNummer asp-for="@Model.SpielerNummer" /> </td> </tr>


        </tbody>
    </table>
            @for (int i = 0; i < Model.Spielpositionen.Count; i++)
            {
    <p>
        <input type="checkbox" id="@Model.Spielpositionen[i].ID" asp-for="@Model.Spielpositionen[i].Auswahl" />@Model.Spielpositionen[i].Name  @Model.Spielpositionen[i].ID
        <input type="hidden" asp-for="@Model.Spielpositionen[i].ID" />
    </p> 

            }
</form>

