﻿@model RangerTrainingAuth.Models.User.UserViewModel
@using RangerTrainingAuth.Models.User
@{
    ViewData["Title"] = "Index";
}

<h1>User bearbeiten</h1>
<form>
    <table cellpadding="10">
        <tr>
            <td> Namenfilter</td>
            <td> <input type="text" asp-for="@Model.Namenfilter" /> </td>
        </tr>
    </table>

    <p> Auswahl

    @if (Model.UserListe != null)
    {

        <select id="Selectindex">
            <option>User auswählen</option>

            @foreach (var tag in Model.UserListe)
            {
            <option>@tag</option>
            }
        </select>
    }
    </p>

    <p>
        
    <button type="submit">User suchen</button>
        </p>
</form>

<script>
        const selectobject = document.getElementById("Selectindex");
        selectobject.addEventListener("change", function (event) {
            const selectedOption = event.target.selectedOptions[0].value;

            if (selectedOption) {
                window.location.pathname += `/${selectedOption}/Edit`;
            }
        });
</script>



