﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Herzlich willkommen bei der Zeiterfassung der</h2>
 
<img src="~/SchaumburgRanger.jpg"
     style="max-width: 50%;"      />
</div>
