﻿@model RangerTrainingAuth.Models.TrainingsTeilnahme.TrainingsTeilnahmeModel
@using RangerTrainingAuth.Models.TrainingsTeilnahme
<h1> Trainingsteilnahme</h1>

<form asp-controller="TrainingsTeilnahme" asp-action="UebernahmeTeilnahmeImTraining" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <p>Saison vom @Model.SaisonStartString bis @Model.SaisonEndeString</p>
    <div>
        <select id="Selectindex">
            <option>@Model.TrainingstagString</option>

            @foreach (DateTime tag in Model.Trainingstage)
            {
                <option value="@tag.ToString("s", System.Globalization.CultureInfo.InvariantCulture)">@tag.ToString("dd.MM.yyyy")</option>
                @*<option value="@tag.ToString("dd/MM/yyyy")"></option>*@
            }
        </select>
    </div>



    <div asp-validation-summary="All" class="text-danger"></div>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Gruppe</th>
                <th scope="col">Name</th>
                <th scope="col">Teilnahme</th>
            </tr>
        </thead>

        <tbody> 
            @if (Model.SpielerImTrainings != null)
            {

                <input type="hidden" name="TrainingstagString" value="@Model.TrainingstagString"/>

                @for (int i = 0; i < Model.SpielerImTrainings.Count(); i++)
                {


                    <tr>

                        <td>@Model.SpielerImTrainings[i].Gruppe </td>
                        <td>@Model.SpielerImTrainings[i].Spieler.Name    </td>
                        <td>
                            <input type="checkbox" id="@Model.SpielerImTrainings[i].Spieler.Name" asp-for="@Model.SpielerImTrainings[i].Anwesend" disabled="@Model.SpielerImTrainings[i].Eneabled" />
                            <input type="hidden" asp-for="@Model.SpielerImTrainings[i].Spieler.Vorname" />
                            <input type="hidden" asp-for="@Model.SpielerImTrainings[i].Spieler.Nachname" />
                            <input type="hidden" asp-for="@Model.Trainingstag" />
                            <input type="hidden" asp-for="@Model.SpielerImTrainings[i].Eneabled" />
                        </td>


                    </tr>

                }



            }
        </tbody>
    </table>
    <button type="submit">Übernehmen</button>
</form>

    <script>
        const selectobject = document.getElementById("Selectindex");
        selectobject.addEventListener("change", function (event) {
            const selectedOption = event.target.selectedOptions[0].value;

            if (selectedOption) {
                window.location.search = `?datum=${selectedOption}`;
            }
        });
    </script>

